<div class="flex-container">
  <p>Test odin-m3-ng18 - Autor: Bouna</p>
</div>

<app-search></app-search>

<div class="content">
  <h2>Warehouses</h2>
  <pre>{{ warehouseList | json }}</pre>
</div>

<div class="content">
  <h2>User Context</h2>
  <pre>{{ userContext | json }}</pre>
</div>

<!-- app.component.html -->
<!-- <mat-grid-list cols="2" rowHeight="fit" gutterSize="16px">
  <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1"> </mat-grid-tile>
</mat-grid-list> -->
